@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #{$bg-color};
    --second-bg-color: #{$second-bg-color};
    --text-color: #{$text-color};
    --first-color: #{$first-color};
    --second-color: #{$second-color};
    --third-color: #{$third-color};
    --fourth-color: #{$fourth-color};
    --bg-clear-color: #{$bg-clear-color};
    --second-bg-clear-color: #{$second-bg-clear-color};
    --second-bg-dark-color: #{$second-bg-dark-color};
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

body.dark-mode {
    background: var(--bg-clear-color);
    color: var(--bg-color);
}

body.dark-mode .navbar-btn {
    color: var(--bg-color);
}

section {
    min-width: 100vw;
    min-height: 100vh;
    padding: 7rem 9% 2rem;
}

span {
    color: var(--first-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--first-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--first-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .3s ease;

    &:hover {
        box-shadow: none;
    }
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}